body {
    margin: 5vw 12vw 5vw 12vw;
    background: black;
}

.body-container {
    padding: 30px;
    border: 1.5px solid #0000;
    border-radius: 20px;
    background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
            var(--angle),
            #ffffff,
            #5aec5a,
            #1eff00
        ) border-box;
    animation: 3s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}