<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/base.css')}}">
    {% block header %}{% endblock header %}
    <title>Plot Selection</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAfLZlAHOsXAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERERERERACAiAgIgAiEAICICAiACIQAAIgACIAIhAgAiAAIgAiECIAAAAAAAAQAiAAAAAAABAAAgAiAAAAEAAAIiAgAAAQAAACACAAABAAAAAAAiAAEAAAAAAAIAAQAAAAAAACICAAAAAAAAACIAAAAAAAAAD//wAAAAAAAGlMAABpTAAAecwAAFnMAABP/wAAZ/8AAHs/AAB8XwAAft8AAH/nAAB/9wAAf/kAAH/+AAB//wAA" rel="icon" type="image/x-icon">
</head>
<body>
    <section class="body-container">
        {% block content %}{% endblock content %}
    </section>
</body>
</html>

